#cann-menu {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 600px;
    background-color: white;
    margin-left: -300px;
    z-index: 9999;
}

.cann-separator {
    width: 10px;
}

#cann-submit-dialog {

    position: absolute;
    top: 100px;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    z-index: 9999;
    padding: 20px;
    border: solid thin black;
    background-color: white;
    display: none;

}

.cann-highlight {
    border: solid red 3px;
}