#cann-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    top: 0px;
    width: 400px;
    height: 70px;
    background-color: white;
    margin-left: -200px;
    z-index: 9999;
    border: solid thin #ccc;
    box-shadow: 5px 5px 2px #ccc;

}

#cann-menu a {
    outline: 0;
    flex-grow: 1;
    width: 100%;

    text-align: center;
    margin: 5px;
    padding: 10px;
}

#cann-annotate-btn {
    background-image: url("/static/imgs/annotate_button.png");
    background-size: 80%;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: 10px;
}

#cann-annotate-desc {
    padding: 8px;
    margin: 2px;
    font-family: Helvetica, arial, sans-serif;
    color: #666;
    font-size: 0.9em;
}

#cann-submit-btn {

}

.cann-cursor-selection {
    cursor: crosshair;
}

.cann-separator {
    width: 10px;
}

#cann-submit-pane {

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0px;
    width: 400px;
    z-index: 9999;
    border: solid thin black;
    background-color: white;

}

#cann-submit-pane div {
    padding: 10px;
}

#cann-comments{
    width: 100%;
    height: 200px;
}

.cann-highlight {
    border: solid #EBEA65 3px;
}